#
# Development (dev local) example
# Loaded when NODE_ENV=development (default for `next dev`)
#

NEXT_PUBLIC_APP_ENV="development"
NEXT_PUBLIC_SITE_URL="http://localhost:3000"
NEXT_PUBLIC_API_BASE_URL="http://localhost:3000/api"

# Server-only
APP_SECRET="dev-only-secret"
DATABASE_URL="postgres://user:pass@localhost:5432/cci_nextjs_modern_dev"

